<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="assets/images/MLC_logo.png" alt="Your Logo">
        </div>
    </header>
    <nav class="main-navigation">
        <ul class="right-nav-left">
            <li><a href="/">Home</a></li>
            <li><a href="/streamlit">Statistic</a></li>
        </ul>
        <ul class="right-nav-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
