{% extends 'base.html' %}
{% block title %} Ministry of Data Collection {% endblock %}
{% block content %}
 <div id="download-status" style="display: none;"></div>
<main xmlns="http://www.w3.org/1999/html">
  <div class="block">
    <h2>Domestic Data</h2>
    <form action="{{ url_for('process_form') }}" method="POST">
      <div>
        <label for="domesticWebsite">Select Website:</label>
        <select id="domesticWebsite" name="domestic-websites">
          <option value="website1">Gross domestic product (GDP)</option>
          <option value="website2">National Bank of Cambodia</option>
        </select>
      </div>
      <div class="website">
        <!-- Additional Info Section for Domestic Website -->
        <div class="additional-info" id="additionalInfoDomestic"></div>
        <input name="location" type="text" placeholder="Directory for datas" required>
        <select name="category-domestic" id="domesticCategory"></select>
        <button type="submit" name="download_button_domestic" id="domestic-button">Download</button>
        <!-- Placeholder for status message -->
      </div>
    </form>
  </div>
  <div class="block">
    <h2>International Data</h2>
    <form action="{{ url_for('process_form') }}" method="POST">
    <div>
      <label for="internationalWebsite">Select Website:</label>
      <select id="internationalWebsite" name="international-website">
        <option value="website1">The Organization of the Petroleum Exporting Countries (OPEC)</option>
        <option value="website2">Bank Indonesia - Indonesia Exchange Rate</option>
        <option value="website3">Thailand-Daily Foreign Exchange Rates</option>
        <option value="website5">China_Exchange-rate</option>
        <option value="website6">BanglasDesh_Exchange-rate</option>
      </select>
    </div>
    <div class="website">
      <!-- Additional Info Section for International Website -->
      <div class="additional-info" id="additionalInfoInternational">
        <div class="date-inputs">
          <input name="year" type="text" placeholder="Year" id="additionalYear">
          <input name="month" type="text" placeholder="Month (e.g. 01, 10, ...)" id="additionalMonth">
          <input name="day" type="text" placeholder="Day (e.g. 01, 10, ...)" id="additionalDay">
        </div>
      </div>
      <div class="additional-info" id="additionalInfoInternational1">
        <div class="date-inputs">
          <!-- <input name="page_number" type="number" placeholder="Page number" id="additionalPageNumber"> -->
          <input name="start_date" type="text" placeholder="Start date (e.g. YY-MM-DD)" id="additionalSartDate">
          <input name="end_date" type="text" placeholder="End date (e.g. YY-MM-DD)" id="additionalEndDate">
        </div>
      </div>
      <div class="additional-info" id="additionalInfoInternational2">
        <div class="date-inputs">
        <input name="input_date_str" type="text" placeholder="e-g : January, 2023" id="additionalInputdDate">
        </div>
      </div>
      <input type="text" placeholder="Directory for datas" name="path-international" required>
      <!-- Categories will be dynamically populated based on the selected website -->
      <button type="submit" name="download_button_international">Download</button>
    </div>
    </form>
  </div>
</main>
<nav class="secondary-navigation">
  <p>Copyright © by 2012 - 2023 Ministry of Labour and Vocational Training.</p>
</nav>
<script src="assets/js/dynamic_button.js"></script>
<script>
  // JavaScript code to display the alert message
  {% if response %}
    var responseData = {{ response | tojson | safe }};
    if (responseData.status === 'success') {
      // Display a success alert
      displayAlert('success', responseData.message);
    } else if (responseData.status === 'error') {
      // Display an error alert
      displayAlert('error', responseData.message); // Use 'danger' for error messages
    }
  {% endif %}

  function displayAlert(type, message) {
    var alertDiv = document.getElementById('download-status');
    alertDiv.innerHTML = '<div class="alert alert-' + type + '">' + message + '</div>';
    alertDiv.style.display = 'block';
  }
</script>
{% endblock %}
